In [175]:
import pandas as pd
import numpy as np

In [176]:
data = pd.read_csv('CAX_MortgageModeling_Train.csv')

In [177]:
df = pd.DataFrame(data)

In [178]:
df.head()

,Unique_ID,MORTGAGE NUMBER,PROPERTY VALUE,MORTGAGE PAYMENT,GDS,LTV,TDS,AMORTIZATION,MORTGAGE AMOUNT,RATE,...,PROPERTY TYPE,TERM,FSA,AGE RANGE,GENDER,INCOME,INCOME TYPE,NAICS CODE,CREDIT SCORE,RESULT
0,CAX_Train_1,1,900000,5429,61.98,65.00,71.63,360,1040000.0,4.0,...,Single Detached,12,L4C,Under 25,Male,108000,8,44-45,681,FUNDED
1,CAX_Train_2,2,386000,2179,35.22,74.29,40.65,360,390000.0,4.5,...,Single Detached,12,L9T,70 and over,Male,78000,2,56,710,FUNDED
2,CAX_Train_3,3,531000,2152,30.97,80.00,35.41,360,424800.0,3.5,...,Single Detached,6,M1N,35-39,Female,87000,2,72,709,FUNDED
3,CAX_Train_4,4,1200000,5410,19.04,75.00,34.14,360,960000.0,5.5,...,Single Detached,12,M2M,45-49,Male,300000,8,54,761,FUNDED
4,CAX_Train_5,5,350000,3342,29.59,80.00,34.85,360,592000.0,5.0,...,Single Detached,12,L7G,50-54,Male,147000,8,62,762,FUNDED

In [179]:
df['RESULT'].value_counts()

FUNDED        36023
NOT FUNDED     9619
Name: RESULT, dtype: int64

In [180]:
df.columns

Index(['Unique_ID', 'MORTGAGE NUMBER', 'PROPERTY VALUE', 'MORTGAGE PAYMENT',
       'GDS', 'LTV', 'TDS', 'AMORTIZATION', 'MORTGAGE AMOUNT', 'RATE',
       'MORTGAGE PURPOSE', 'PAYMENT FREQUENCY', 'PROPERTY TYPE', 'TERM', 'FSA',
       'AGE RANGE', 'GENDER', 'INCOME', 'INCOME TYPE', 'NAICS CODE',
       'CREDIT SCORE', 'RESULT'],
      dtype='object')

In [181]:
df['NAICS CODE'].value_counts()

56       11245
54        5326
23        5092
81        4296
44-45     3622
48-49     3305
72        2722
53        2473
62        2166
61        1382
52        1022
31-33      982
71         640
92         513
11         304
55         246
51         145
42          98
22          63
Name: NAICS CODE, dtype: int64

In [182]:
df['AMORTIZATION'].value_counts()

360    42333
300     3106
240      117
180       57
120       15
420       11
60         2
480        1
Name: AMORTIZATION, dtype: int64

In [183]:
df['AGE RANGE'].value_counts()

45-49          7645
40-44          6877
50-54          6801
35-39          5818
55-59          4710
30-34          4551
60-64          2816
25-29          2534
65-69          1678
70 and over    1374
Under 25        838
Name: AGE RANGE, dtype: int64

In [184]:
from sklearn.preprocessing import LabelEncoder

In [185]:
le_result = LabelEncoder()
df['RESULT'] = le_result.fit_transform(df['RESULT'])

In [186]:
df['RESULT'] = df['RESULT'].replace({0:1, 1:0})

In [187]:
le_age_range = LabelEncoder()
df['AGE RANGE'] = le_age_range.fit_transform(df['AGE RANGE'])

In [188]:
age_range_labels = {index: value for index, value in enumerate(le_age_range.classes_)}
age_range_labels

{0: '25-29',
 1: '30-34',
 2: '35-39',
 3: '40-44',
 4: '45-49',
 5: '50-54',
 6: '55-59',
 7: '60-64',
 8: '65-69',
 9: '70 and over',
 10: 'Under 25'}

In [189]:
le_amortization = LabelEncoder()
df['AMORTIZATION'] = le_amortization.fit_transform(df['AMORTIZATION'])

In [190]:
amortization_labels = {index: value for index, value in enumerate(le_amortization.classes_)}
amortization_labels

{0: 60, 1: 120, 2: 180, 3: 240, 4: 300, 5: 360, 6: 420, 7: 480}

In [191]:
le_purpose = LabelEncoder()
df['MORTGAGE PURPOSE'] = le_purpose.fit_transform(df['MORTGAGE PURPOSE'])
mortgage_purpose_labels = {index: value for index, value in enumerate(le_purpose.classes_)}
mortgage_purpose_labels

{0: 'Purchase', 1: 'Refinance'}

In [192]:
df['RESULT'].value_counts()

1    36023
0     9619
Name: RESULT, dtype: int64

In [193]:
le_frequency = LabelEncoder()
df['PAYMENT FREQUENCY'] = le_frequency.fit_transform(df['PAYMENT FREQUENCY'])
frequency_labels = {index: value for index, value in enumerate(le_frequency.classes_)}
frequency_labels

{0: 'Bi-Weekly',
 1: 'Bi-Weekly Accelerated',
 2: 'Monthly',
 3: 'Semi-Monthly',
 4: 'Weekly',
 5: 'Weekly Accelerated'}

In [194]:
le_gender = LabelEncoder()
df['GENDER'] = le_gender.fit_transform(df['GENDER'])
gender_labels = {index: value for index, value in enumerate(le_gender.classes_)}
gender_labels

{0: 'Female', 1: 'Male', 2: 'Unknown'}

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45642 entries, 0 to 45641
Data columns (total 22 columns):
Unique_ID            45642 non-null object
MORTGAGE NUMBER      45642 non-null int64
PROPERTY VALUE       45642 non-null int64
MORTGAGE PAYMENT     45642 non-null int64
GDS                  45642 non-null float64
LTV                  45642 non-null float64
TDS                  45642 non-null float64
AMORTIZATION         45642 non-null int64
MORTGAGE AMOUNT      45642 non-null float64
RATE                 45642 non-null float64
MORTGAGE PURPOSE     45642 non-null int64
PAYMENT FREQUENCY    45642 non-null int64
PROPERTY TYPE        45642 non-null object
TERM                 45642 non-null int64
FSA                  45642 non-null object
AGE RANGE            45642 non-null int64
GENDER               45642 non-null int64
INCOME               45642 non-null int64
INCOME TYPE          45642 non-null int64
NAICS CODE           45642 non-null object
CREDIT SCORE         45642 non-null int64
RESULT               45642 non-null int64
dtypes: float64(5), int64(13), object(4)
memory usage: 7.7+ MB

In [196]:
df.isnull().any()

Unique_ID            False
MORTGAGE NUMBER      False
PROPERTY VALUE       False
MORTGAGE PAYMENT     False
GDS                  False
LTV                  False
TDS                  False
AMORTIZATION         False
MORTGAGE AMOUNT      False
RATE                 False
MORTGAGE PURPOSE     False
PAYMENT FREQUENCY    False
PROPERTY TYPE        False
TERM                 False
FSA                  False
AGE RANGE            False
GENDER               False
INCOME               False
INCOME TYPE          False
NAICS CODE           False
CREDIT SCORE         False
RESULT               False
dtype: bool

In [197]:
dfx = pd.get_dummies(df['NAICS CODE'], prefix='NAICS')

In [198]:
df = pd.concat([df, dfx], axis=1)

In [199]:
df = df.drop(['NAICS CODE'], axis=1)

In [200]:
dfy = pd.get_dummies(df['PROPERTY TYPE'])
df = pd.concat([df, dfy], axis=1)
df = df.drop(['PROPERTY TYPE'], axis=1)
df.head()

,Unique_ID,MORTGAGE NUMBER,PROPERTY VALUE,MORTGAGE PAYMENT,GDS,LTV,TDS,AMORTIZATION,MORTGAGE AMOUNT,RATE,...,NAICS_81,NAICS_92,Duplex,Fourplex,High Rise,Semi-Detached,Single Detached,Townhouse Condominium,Townhouse Freehold,Triplex
0,CAX_Train_1,1,900000,5429,61.98,65.00,71.63,5,1040000.0,4.0,...,0,0,0,0,0,0,1,0,0,0
1,CAX_Train_2,2,386000,2179,35.22,74.29,40.65,5,390000.0,4.5,...,0,0,0,0,0,0,1,0,0,0
2,CAX_Train_3,3,531000,2152,30.97,80.00,35.41,5,424800.0,3.5,...,0,0,0,0,0,0,1,0,0,0
3,CAX_Train_4,4,1200000,5410,19.04,75.00,34.14,5,960000.0,5.5,...,0,0,0,0,0,0,1,0,0,0
4,CAX_Train_5,5,350000,3342,29.59,80.00,34.85,5,592000.0,5.0,...,0,0,0,0,0,0,1,0,0,0

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45642 entries, 0 to 45641
Data columns (total 47 columns):
Unique_ID                45642 non-null object
MORTGAGE NUMBER          45642 non-null int64
PROPERTY VALUE           45642 non-null int64
MORTGAGE PAYMENT         45642 non-null int64
GDS                      45642 non-null float64
LTV                      45642 non-null float64
TDS                      45642 non-null float64
AMORTIZATION             45642 non-null int64
MORTGAGE AMOUNT          45642 non-null float64
RATE                     45642 non-null float64
MORTGAGE PURPOSE         45642 non-null int64
PAYMENT FREQUENCY        45642 non-null int64
TERM                     45642 non-null int64
FSA                      45642 non-null object
AGE RANGE                45642 non-null int64
GENDER                   45642 non-null int64
INCOME                   45642 non-null int64
INCOME TYPE              45642 non-null int64
CREDIT SCORE             45642 non-null int64
RESULT                   45642 non-null int64
NAICS_11                 45642 non-null uint8
NAICS_22                 45642 non-null uint8
NAICS_23                 45642 non-null uint8
NAICS_31-33              45642 non-null uint8
NAICS_42                 45642 non-null uint8
NAICS_44-45              45642 non-null uint8
NAICS_48-49              45642 non-null uint8
NAICS_51                 45642 non-null uint8
NAICS_52                 45642 non-null uint8
NAICS_53                 45642 non-null uint8
NAICS_54                 45642 non-null uint8
NAICS_55                 45642 non-null uint8
NAICS_56                 45642 non-null uint8
NAICS_61                 45642 non-null uint8
NAICS_62                 45642 non-null uint8
NAICS_71                 45642 non-null uint8
NAICS_72                 45642 non-null uint8
NAICS_81                 45642 non-null uint8
NAICS_92                 45642 non-null uint8
Duplex                   45642 non-null uint8
Fourplex                 45642 non-null uint8
High Rise                45642 non-null uint8
Semi-Detached            45642 non-null uint8
Single Detached          45642 non-null uint8
Townhouse Condominium    45642 non-null uint8
Townhouse Freehold       45642 non-null uint8
Triplex                  45642 non-null uint8
dtypes: float64(5), int64(13), object(2), uint8(27)
memory usage: 8.1+ MB

In [204]:
df = df.drop(['FSA'], axis=1)
df.head()

,Unique_ID,MORTGAGE NUMBER,PROPERTY VALUE,MORTGAGE PAYMENT,GDS,LTV,TDS,AMORTIZATION,MORTGAGE AMOUNT,RATE,...,NAICS_81,NAICS_92,Duplex,Fourplex,High Rise,Semi-Detached,Single Detached,Townhouse Condominium,Townhouse Freehold,Triplex
0,CAX_Train_1,1,900000,5429,61.98,65.00,71.63,5,1040000.0,4.0,...,0,0,0,0,0,0,1,0,0,0
1,CAX_Train_2,2,386000,2179,35.22,74.29,40.65,5,390000.0,4.5,...,0,0,0,0,0,0,1,0,0,0
2,CAX_Train_3,3,531000,2152,30.97,80.00,35.41,5,424800.0,3.5,...,0,0,0,0,0,0,1,0,0,0
3,CAX_Train_4,4,1200000,5410,19.04,75.00,34.14,5,960000.0,5.5,...,0,0,0,0,0,0,1,0,0,0
4,CAX_Train_5,5,350000,3342,29.59,80.00,34.85,5,592000.0,5.0,...,0,0,0,0,0,0,1,0,0,0

In [206]:
y = df['RESULT']
features = df.drop(['Unique_ID', 'MORTGAGE NUMBER', 'RESULT'], axis=1)

In [212]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, y, test_size = 0.2)

In [214]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear')
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [217]:
dictionary = dict(zip(list(X_train.columns), list(logreg.coef_[0])))
dictionary

{'PROPERTY VALUE': -1.6008225375563786e-07,
 'MORTGAGE PAYMENT': -0.0002576189281038977,
 'GDS': 0.0010431472844121316,
 'LTV': 0.0019365095080429153,
 'TDS': 0.0008711267968795197,
 'AMORTIZATION': 0.000117118588955915,
 'MORTGAGE AMOUNT': 8.990531728353729e-07,
 'RATE': 8.699015278104485e-05,
 'MORTGAGE PURPOSE': -1.6921184784571504e-05,
 'PAYMENT FREQUENCY': 9.256218419430621e-06,
 'TERM': 0.0004360159897197933,
 'AGE RANGE': 7.737575919424183e-05,
 'GENDER': 2.3453992815677764e-05,
 'INCOME': 1.305082905957445e-06,
 'INCOME TYPE': 9.898863725007178e-05,
 'CREDIT SCORE': 0.0018910422470124338,
 'NAICS_11': -2.8478400192998955e-07,
 'NAICS_22': 9.870348074882836e-08,
 'NAICS_23': 5.089421038127859e-06,
 'NAICS_31-33': 1.7489667935556039e-06,
 'NAICS_42': 2.866676421909069e-07,
 'NAICS_44-45': 3.958897551962583e-06,
 'NAICS_48-49': 1.5173185093629439e-06,
 'NAICS_51': 1.4425571063018486e-07,
 'NAICS_52': -7.126835104876358e-07,
 'NAICS_53': 1.569170429533578e-06,
 'NAICS_54': 2.394287115588328e-06,
 'NAICS_55': -3.4365090644810286e-06,
 'NAICS_56': 7.991531962176335e-06,
 'NAICS_61': 1.144444324521113e-06,
 'NAICS_62': 1.073104026528011e-07,
 'NAICS_71': -2.8069658144820902e-08,
 'NAICS_72': 3.0232577212386475e-06,
 'NAICS_81': -5.52479848623221e-07,
 'NAICS_92': -8.247958696741295e-07,
 'Duplex': -1.7483472926227044e-06,
 'Fourplex': -9.255169390684248e-07,
 'High Rise': 3.468174493496472e-06,
 'Semi-Detached': 4.600203925848906e-06,
 'Single Detached': 1.2397376898815495e-05,
 'Townhouse Condominium': 4.06417986547551e-06,
 'Townhouse Freehold': 2.1223299627428687e-06,
 'Triplex': -7.434901857401395e-07}

In [223]:
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, precision_score

y_pred = logreg.predict(X_test)

In [216]:
f1_score(y_test, y_pred)

0.8778442375285195

In [218]:
accuracy_score(y_test, y_pred)

0.7829992332128382

In [222]:
confusion_matrix(y_test, y_pred)

array([[  30, 1931],
       [  50, 7118]])

In [225]:
precision_score(y_test, y_pred)

0.7866062548347884